.App {
  font-family: sans-serif;
 
}
.tweet-container
{
  padding: 1rem;
border: 1px solid black;
border-radius: 5px;
width: 450px;
}
.tweet-container textarea
{
  padding: 1rem;
  margin-top: 1rem;
  width: 400px;
  height: 100px;
  border: 1px solid rgb(192, 192, 192);
  border-radius:5px;
  outline: none;
}
.password-container
{

  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}
.password-container input
{
  padding: 0.3rem;
  margin: 0.5rem;
}
.password-container button
{
  
  margin: 0.5rem;
}